@import "~bootstrap/scss/bootstrap";
@import "~octicons/build/octicons.min";

.navbar-admin {
  background-color: #0e0d0d; /* Cor de fundo para admin (cinza) */
  /* Outros estilos para a navbar do admin */
}

.navbar-user {
  background-color: #3d7e95; /* Cor de fundo para usuário (azul) */
  /* Outros estilos para a navbar do usuário */
}

@import "~bootstrap/scss/bootstrap";
@import "~octicons/build/octicons.min";

.navbar-admin, .navbar-user {
  &.navbar-admin { background-color: #0e0d0d; } // Admin
  &.navbar-user { background-color: #3d7e95; } // Usuário
}

.user-detail-container {
  display: flex;
  align-items: flex-start;

  .user-info {
    flex: 1;
    margin-right: 20px;
  }

  .water-tank-container {
    flex: 0 0 50px;
    margin-left: 20px;
    align-self: start;

    .water-tank {
      width: 50px;
      height: 550px;
      border: 1px solid black;
      position: relative;
      background-color: #ddd;
  
      .water-level {
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: #3086e1;
      }
    }
  }
}
